
		<hr>

		</div>
	</div>

	<footer>
		<div class="container footer">
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2013 {{name}} &middot; <a href="/about#privacy">Privacy</a> &middot; <a href="/about#terms">Terms</a> &middot; <a href="/about#affiliation">Affiliation</a> </p>
			
			</div>
	</footer>

	</body>
</html>