{{>head}}

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12">
      <h1>Frequently Asked Questions</h1>	  
    </div>
    <div class="col-lg-12 col-sm-12 col-12">
     
	 <br></br>
	 <b>Q: What is the minimum bet?</b>
     <div></div>
	    A:   .1 {{altcoin}}

     <br></br>
    <b> Q: What currencies do we currently accept now?</b>
	 <div></div>
	    A: Worldcoin, Megacoin, Protoshares
	 <br></br>
	<b>
	Q: What measures do we take to protect {{name}}? </b>
	 <div></div> 
	    A: We store all our funds off-site on a cold wallet. We routinely run weekly security audits to uphold our level of security.  
	 <br></br>
	<b> Q: How long does it take for funds to be credited? </b>
     <div></div> 
	    A: It varies between which altcoin and exchange. 
       <br></br>
      <b>
	   Q: How does {{name}} work?</b>
	  <div></div> 
	  A: To begin your betting journey, simply click profile than click generate deposit address and send {{altcoin}}s to the generated address provided.
	  <br></br> 
	  <b>Q: Should I use someone else's bot software?</b> 
	  <div></div> 
	   A: No, we are not responsible for "bot" coin theft/loss 
	  <br></br>
	  <b>Q: I got two winning symbols but only received the winning for one symbol?</b> 
	  <div></div>
	   A: The symbols have to be in pairs touching each other. 
     	   
	    
  

  
  
  
  
  
  
  
  
  </div>
</div>

{{>foot}}           