<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Altcoin Casino, Biggest Jackpots! Worldcoin, Megacoin, Blackcoin, Vertcoin, Bitshares, Bitcoin, Litecoin, Dogecoin, Zetacoin, Namecoin, Crypto, Devcoin, Peercoin, Primecoin, Coin Casino, Crypto Casino, Lottery, Dice, Keno!">
    <meta name="author" content="Justin Faler">

    <title>{{title}}</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Gravitas+One&amp;text=1234567" rel="stylesheet" type="text/css">
    <link href="/assets/css/base.css" rel="stylesheet">
    {{#pagecss}}<link href="/assets/css/pages/{{pagecss}}.css" rel="stylesheet">{{/pagecss}}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/assets/img/favicon-{{altcoinl}}.png">

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery.cookie.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/holder/holder.js"></script>
    
  </head>
  <body>
<div class="content">
  <div class="navbar navbar-inverse">
    <div class="container">
     
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      
    <a class="navbar-brand" href="/"></a> 
      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav pull-right">
        </ul>
      </div>
    </div>
  </div>

  <div class="container">

  
    
    <div class="col-lg-12 col-sm-12 col-12">
      <center><h2>{{altcoin}} Slots</h2></center>
    </div>
    <div class="col-lg-12 col-sm-12 col-12">
      <center><p>The progressive slots require a deposit to play with. You can play the games by clicking the button below.</p></center>
    </di
    <div class="col-lg-12 col-sm-12 col-12">
      <p Align="center"><a class="btn btn-default" href="/slots2">Test Play Slots &raquo;</a></p>
    </div>
     </div>
     <div class="row">
       <div class="col-lg-12 col-sm-12 col-12">
      
    </div>
  </div>
